<%- include('../template/header.ejs'); %>

<div class="container">
    <div class="row">
        <div class="col">
            <h3><%= data %> </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-2">
                <label for="npm">NPM</label>
                <input type="text" class="form-control" readonly disabled name="npm" id="npm"
                    value="<%= mahasiswa.npm %>">
            </div>

            <div class="mb-2">
                <label for="nama">Nama</label>
                <input type="text" class="form-control" readonly disabled name="nama" id="nama"
                    value="<%= mahasiswa.nama %>">
            </div>

            <div class="mb-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" readonly disabled name="email" id="email"
                    value="<%= mahasiswa.email %>">
            </div>

            <div class="mb-2">
                <label for="jurusan">Jurusan</label>
                <input type="text" class="form-control" readonly disabled name="jurusan" id="jurusan"
                    value="<%= mahasiswa.jurusan %>">
            </div>


            <a href="/mahasiswa" class="btn btn-sm btn-secondary">Home</a>
        </div>
    </div>
</div>


<%- include('../template/footer.ejs'); %>